# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directory settings files
*.directory

# cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Scripts
cmake-debug
cmake-release
make-debug
make-release
run-debug
run-release

# Build files
build

# VS Code project files
.vscode
*.code-workspace

# VS project files
.vs
CMakeSettings.json

# Sublime text project files
.sublime-project
.sublime-workspace

# glbinding things
glbinding/source/tests
glbinding/source/examples
glbinding/docs

# glfw things
glfw/docs
glfw/examples
glfw/tests

# glm things
glm/doc
glm/test

# pcg things
pcg/test-high
pcg/sample
